/* 
    This style sheet stylizes the controls inside our
    Web Page Maker JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	?
    Version:	1.0
*/

.color-picker {
    -fx-padding: 2px;
}

.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #ddddff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:20;     
}



.file_toolbar {
    -fx-background-color: #C9F1FD;
    -fx-background-radius: 5.0;
    -fx-border-radius: 5;
    -fx-alignment: center-left;
    -fx-border-width: 3px;
    -fx-border-color: black;
}
.file_edit_toolbar{
    -fx-background-color: #C9F1FD;
    -fx-background-radius: 5.0;
    -fx-border-radius: 5;
    -fx-alignment: center-left;
    -fx-border-width: 3px;
    -fx-border-color: black;
}
.file_view_toolbar{
    -fx-background-color: #C9F1FD;
    -fx-background-radius: 5.0;
    -fx-border-radius: 5;
    -fx-alignment: center-left;
    -fx-border-width: 3px;
    -fx-border-color: black;
    
}
.file_button{
    -fx-padding: 30 25 25 30;
    
}
.file_as_button{
      -fx-padding: 20 20 20 20;
}
.photo{
    -fx-translate-x: 3;
    -fx-scale-x: 1.15;
}
.file_edit_toolbar_button{
   -fx-padding: 20 52 20 52;
    
}
.file_view_toolbar_button{
     -fx-padding: 20 10 20 10;
}
.checkboxes{
    -fx-spacing: 10;
    -fx-padding: 10 0 0 0;
}
.render_canvas{
    -fx-background-color: #FEFCE0; 
    -fx-pref-width:5000;
    -fx-pref-height: 5000;

}
.scroll_pane{
    -fx-background-radius: 5.0;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
    -fx-border-color: black;
    
}
.right_pane{
    -fx-background-color: #FFECD7;
    -fx-background-radius: 5.0;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
    -fx-border-color: black;
}
.class_vbox_region{
    -fx-pref-height: 50;
}
.variables_methods_vbox{
    -fx-pref-height: 30;
}
.tables_vbox{
    -fx-pref-height: 250;

}
.hbox_properties_names{
    -fx-padding: 5 5 5 5;
    -fx-spacing: 30;
}
.hbox_properties_variables{
    -fx-spacing: 10;
}
.class_interface{
    -fx-font-size: 20;
    -fx-font-weight: normal;

}
.j_boxes{

    -fx-background-color: white;
    -fx-background-radius: 2.0;
    -fx-border-radius: 2.5;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-padding: 10;
    
}
.BOXES{
    -fx-background-color: grey;
}
